* {
  transition: 0.3s;
}

nav a:hover {
  color: #B2FFFF;
}

.hero {
  height: 70vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
              url('https://images.unsplash.com/photo-1517927033932-b3d18e61fb3a') center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
}

.hero h2 {
  font-size: 40px;
}

.hero p {
  margin-top: 10px;
  color: #ccc;
}

.contenido {
  padding: 80px 10%;
  text-align: center;
}

.contenido h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.contenido p {
  max-width: 700px;
  margin: auto;
  color: #ccc;
}

.grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.box {
  background: #111;
  padding: 25px;
  border-radius: 15px;
  transition: 0.3s;
}

.box:hover {
  transform: translateY(-8px);
  background: #1a1a1a;
}

.historia {
  padding: 80px 10%;
  text-align: center;
}

.historia p {
  max-width: 700px;
  margin: auto;
  color: #ccc;
}

footer {
  padding: 40px;
  text-align: center;
  background: #000;
  color: #777;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 28px;
  }
}
