/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* COLORES */
:root {
    --negro: #000;
    --blanco: #fff;
    --dorado: #c9a227;
    --gris: #f2f2f2;
}

/* GLOBAL */
body {
    background: var(--blanco);
    color: #111;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* HEADER */
.header {
    background: var(--negro);
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--blanco);
    letter-spacing: 2px;
}

.nav a {
    color: var(--blanco);
    text-decoration: none;
    margin-left: 20px;
}

.nav a:hover {
    color: var(--dorado);
}

/* HERO */
.hero {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
    color: var(--blanco);
    padding: 80px 0;
    text-align: center;
}

.hero h2 {
    font-size: 42px;
}

/* SECCIONES */
.section {
    padding: 60px 0;
}

.bg-dark {
    background: var(--negro);
    color: var(--blanco);
}

/* TITULOS */
.section-title {
    font-size: 28px;
    margin-bottom: 20px;
    border-left: 6px solid var(--dorado);
    padding-left: 15px;
}

.section-title.light {
    color: var(--blanco);
}

/* TEXTO */
.section p {
    margin-bottom: 15px;
    line-height: 1.6;
}

/* FOOTER */
.footer {
    background: var(--negro);
    color: #aaa;
    text-align: center;
    padding: 25px 0;
    font-size: 14px;
}
