/* HERO CATEGORÍAS */
.hero-cat {
  height: 60vh;
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
              url('../img/hero.jpg') center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-cat h1 {
  font-size: 45px;
}

.hero-cat p {
  color: #ccc;
  margin-top: 10px;
}

/* INFO */
.info {
  padding: 80px 10%;
  text-align: center;
}

.info p {
  max-width: 700px;
  margin: auto;
  color: #ccc;
}

/* JUGADORES */
.jugadores {
  padding: 80px 10%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.player {
  background: #111;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  transition: 0.3s;
}

.player:hover {
  transform: translateY(-8px);
}

.player img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
