/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* COLORES */
:root {
    --negro: #000;
    --blanco: #fff;
    --dorado: #c9a227;
    --gris: #f2f2f2;
}

/* GLOBAL */
body {
    background: var(--blanco);
    color: #111;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* HEADER */
.header {
    background: var(--negro);
    padding: 20px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--blanco);
    letter-spacing: 2px;
}

.nav a {
    color: var(--blanco);
    text-decoration: none;
    margin-left: 20px;
}

.nav a:hover {
    color: var(--dorado);
}

/* HERO */
.hero {
    background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
    padding: 80px 0;
    text-align: center;
    color: var(--blanco);
}

.hero h2 {
    font-size: 42px;
}

/* SECTION */
.section {
    padding: 70px 0;
}

/* PRODUCTOS */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
}

.product-card {
    background: var(--gris);
    padding: 25px;
    border-top: 5px solid var(--dorado);
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    margin-bottom: 15px;
}

.img-box {
    background: #ccc;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.product-card h3 {
    margin-bottom: 8px;
}

.price {
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
    margin-bottom: 15px;
}

/* BOTON WHATSAPP */
.btn-whatsapp {
    display: block;
    text-align: center;
    padding: 12px;
    background: var(--negro);
    color: var(--blanco);
    text-decoration: none;
    font-weight: bold;
}

.btn-whatsapp:hover {
    background: var(--dorado);
    color: #000;
}

/* FOOTER */
.footer {
    background: var(--negro);
    color: #aaa;
    text-align: center;
    padding: 25px 0;
    font-size: 14px;
}
